.mat-toolbar{
    background:grey;
    color:black;
    font-size: 2.5rem;
    flex: 1 1 auto;
    margin-left: 0;
}
mat-icon {
    margin-right: 8px;
   position: right;
   float: right;
}
.spacer {
   flex: 1 1 auto;
 }
